.popup__info {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  border: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  width: 238px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__info:nth-of-type(1) {
  margin-bottom: 30px;
}

.popup__info:nth-of-type(2) {
  margin-bottom: 48px;
}


@media (min-width: 1280px) {
  .popup__info {
    width: 358px;
  }
}

