.userName-error_visible {
  display: block;
  position: absolute;
  top: 155px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #FF0000;
}
