.profile__name {
  margin: 0 auto;
  margin-bottom: 14px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.21;
  text-align: center;
  width: 189px;
}

@media (min-width: 768px) {
  .profile__name {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .profile__name {
    margin: 0;
    margin-bottom: 8px;
    width: 294px;
    font-size: 42px;
    line-height: 1.14;
  }
}
