.popup__button-close {
  position: absolute;
  right: 0;
  top: -36px;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(/images/button-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: .6;
}

@media (min-width: 1280px) {
  .popup__button-close {
    background-image: url(/images/button-close2.png);
    width: 32px;
    height: 32px;
    right: -36px;
  }
}
