.profile__avatar {
  display: flex;
  margin: 0 auto;
  margin-bottom: 22px;
  width: 150px;
  height: 127px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .profile__avatar {
    margin: 0;
    justify-content: start;
  }
}
