.profile__avatar {
  display: flex;
  margin: 0 auto;
  padding-top: 38px;
  margin-bottom: 22px;
  width: 168px;
  height: 127px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}
