@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/*blocks*/
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__picture/profile__picture.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__self-description/profile__self-description.css);
@import url(../blocks/profile/__button-change/profile__button-change.css);
@import url(../blocks/profile/__button-addphoto/profile__button-addphoto.css);
@import url(../blocks/images/images.css);
@import url(../blocks/images/__list/images__list.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__picture/cards__picture.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__button/cards__button.css);
@import url(../blocks/cards/__button/_like/cards__button_like.css);
@import url(../blocks/cards/__delete-button/cards__delete-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popupProfile/popupProfile.css);
@import url(../blocks/popupProfile/__container/popupProfile__container.css);
@import url(../blocks/popupProfile/__text/popupProfile__text.css);
@import url(../blocks/popupProfile/__info/popupProfile__info.css);
@import url(../blocks/popupProfile/__button-close/popupProfile__button-close.css);
@import url(../blocks/popupProfile/__button-save/popupProfile__button-save.css);
@import url(../blocks/popupProfile/_opened/popup_opened.css);
@import url(../blocks/popupPhoto/popupPhoto.css);
@import url(../blocks/popupPhoto/__container/popupPhoto__container.css);
@import url(../blocks/popupPhoto/__text/popupPhoto__text.css);
@import url(../blocks/popupPhoto/__info/popupPhoto__info.css);
@import url(../blocks/popupPhoto/__button-close/popupPhoto__button-close.css);
@import url(../blocks/popupPhoto/__button-save/popupPhoto__button-save.css);
@import url(../blocks/popupPhoto/_opened/popupPhoto_opened.css);
@import url(../blocks/fullview/fullview.css);
@import url(../blocks/fullview/__form/fullview__form.css);
@import url(../blocks/fullview/__image/fullview__image.css);
@import url(../blocks/fullview/__picture/fullview__picture.css);
@import url(../blocks/fullview/__caption/fullview__caption.css);
@import url(../blocks/fullview/__button-close/fullview__button-close.css);
@import url(../blocks/fullview/_opened/fullview_opened.css);

