.button-save {
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  background-color: #000000;
  width: 238px;
  padding: 14px 14px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  cursor: pointer;
  transition: opacity .3s ease-in;
}

.button-save:hover {
  opacity: .8;
}

@media (min-width: 1280px) {
  .button-save {
    width: 358px;
    font-size: 18px;
  }
}
